prepull monk.meditation if buffAtMaxStacks.chakra is False
prepull monk.fistOfFire if buffPresent.fistOfFire is False
prepull monk.formShift if buffPresent.coerlForm is False
lancer.bloodForBlood if buffAtMaxStacks.greasedLightning is True
pugilist.perfectBalance if cooldownPresent.tornadoKick is False
monk.tornadoKick if (buffTimeLeft.perfectBalance >= 5.0 and buffAtMaxStacks.greasedLightning is True)
item.potionOfStrengthHQ if buffAtMaxStacks.greasedLightning is True
pugilist.internalRelease if (buffAtMaxStacks.greasedLightning is True and cooldownTimeLeft.elixirField <= 10.0)
monk.forbiddenChakra if buffPresent.internalRelease is True
monk.elixirField if (buffPresent.internalRelease is True or cooldownTimeLeft.internalRelease >= 24.0)
pugilist.steelPeak if buffAtMaxStacks.greasedLightning is True
pugilist.howlingFist if buffPresent.internalRelease is True
pugilist.demolish if debuffTimeLeft.demolish <= 4.5
pugilist.twinSnakes if buffTimeLeft.twinSnakes <= 4.5
pugilist.touchOfDeath if (debuffTimeLeft.touchOfDeath <= 1.5 and debuffPresent.dragonKick is True and buffPresent.twinSnakes is True)
pugilist.snapPunch
marauder.fracture if (debuffTimeLeft.fracture <= 1.5 and debuffPresent.dragonKick is True and buffPresent.twinSnakes is True)
monk.dragonKick if (debuffTimeLeft.dragonKick <= 4.5 and (buffPresent.opoOpoForm is True or buffPresent.perfectBalance is True))
pugilist.trueStrike
pugilist.bootshine