prepull monk.fistOfFire if buffPresent.fistOfFire is False
prepull pugilist.perfectBalance
lancer.bloodForBlood if buffAtMaxStacks.greasedLightning is True
pugilist.perfectBalance if cooldownPresent.tornadoKick is False
monk.tornadoKick if (buffTimeLeft.perfectBalance >= 7.0 and buffAtMaxStacks.greasedLightning is True)
item.potionOfStrengthHQ if buffAtMaxStacks.greasedLightning is True
pugilist.internalRelease if (buffAtMaxStacks.greasedLightning is True and cooldownTimeLeft.elixirField <= 7.0)
pugilist.howlingFist if buffPresent.internalRelease is True
monk.elixirField if (buffPresent.internalRelease is True or cooldownTimeLeft.internalRelease >= 24.0)
pugilist.steelPeak if buffAtMaxStacks.greasedLightning is True
pugilist.touchOfDeath if (debuffTimeLeft.touchOfDeath <= 1.5 and debuffPresent.dragonKick is True and buffPresent.twinSnakes is True)
marauder.fracture if (debuffTimeLeft.fracture <= 1.5 and debuffPresent.dragonKick is True and buffPresent.twinSnakes is True)
pugilist.demolish if debuffTimeLeft.demolish <= 4.5
pugilist.twinSnakes if buffTimeLeft.twinSnakes <= 2.5
pugilist.snapPunch
monk.dragonKick if debuffTimeLeft.dragonKick <= 6.5
pugilist.trueStrike
pugilist.bootshine