set class pugilist
#set strength 1143
#set criticalHitRate 734
#set determination 512
#set skillSpeed 590
#set weaponDamage 76
set strength 1308
set criticalHitRate 934
set determination 619
set skillSpeed 741
set weaponDamage 81
set weaponDelay 2.56
set weaponType blunt
set partyBonus True
set useTp False

# Prepull
prepull monk.formShift if buffPresent.coerlForm is False
prepull monk.meditation if buffAtMaxStacks.chakra is False
prepull monk.fistOfFire if buffPresent.fistOfFire is False

# Instants
pugilist.internalRelease if (buffStacks.greasedLightning >= 2.0 and cooldownTimeLeft.elixirField <= 5.0)
lancer.bloodForBlood if buffStacks.greasedLightning >= 2.0
pugilist.perfectBalance if cooldownPresent.internalRelease is False
item.potionOfStrengthHQ if buffStacks.greasedLightning >= 3.0
pugilist.steelPeak if buffAtMaxStacks.greasedLightning is True
monk.elixirField if (buffPresent.internalRelease is True or cooldownTimeLeft.internalRelease >= 10.0)
pugilist.howlingFist if buffAtMaxStacks.greasedLightning is True
monk.forbiddenChakra if ((state.tp >= 650.0 and buffPresent.internalRelease is True) or cooldownTimeLeft.purification >= 10.0)
monk.shoulderTackle if buffAtMaxStacks.greasedLightning is True
marauder.mercyStroke if buffPresent.internalRelease is True
lancer.invigorate if state.tp <= 550.0
monk.purification if state.tp <= 650.0

# Global
pugilist.touchOfDeath if (debuffTimeLeft.touchOfDeath <= 1.5 and buffPresent.twinSnakes is True and buffAtMaxStacks.greasedLightning is True)
pugilist.demolish if debuffTimeLeft.demolish <= 4.5
pugilist.twinSnakes if buffTimeLeft.twinSnakes <= 2.5
pugilist.snapPunch if buffAtMaxStacks.greasedLightning is False
monk.dragonKick if (debuffTimeLeft.dragonKick <= 2.5 and (buffPresent.opoOpoForm is True or buffPresent.perfectBalance is True))
marauder.fracture if (debuffTimeLeft.fracture <= 1.5 and buffPresent.twinSnakes is True and state.tp >= 200.0)
pugilist.bootshine if (buffPresent.perfectBalance is True or buffPresent.opoOpoForm is True)
pugilist.trueStrike
pugilist.snapPunch
pugilist.bootshine
monk.meditation if buffAtMaxStacks.chakra is False